---
layout: start
---
<div class="jumbotron">
  <div class="container">
    <h1>Ekylibre Community Ressources</h1>
    <p class="subtitle">Manage all your farm data in one place with the leading<br>open-source farming information system.</p>
    <p>
      <a class="btn btn-default btn-lg" href="https://demo-innovation.ekylibre.io" role="button">Try our Demo (FR|EN)</a>
      <a class="btn btn-default btn-lg" href="/fr/demarrage" role="button">Read the user documentation (FR)</a>
      <a class="btn btn-default btn-lg" href="https://discord.gg/BSpD6hq7qR" role="button">Join on Discord (FR|EN)</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="row top-hr">
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
        <h2><i class="fa fa-flask"></i> Mandatory operations</h2>
        <p>Ekylibre implements lot of mandatory operations concerning crop interventions, accountancy, sales, purchases and many others</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
        <h2><i class="fa fa-star"></i> Sustainability first</h2>
        <p>Ekylibre drive his development on sustanaible doctrine for preserving agricultural and farmer life.</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
        <h2><i class="fa fa-line-chart"></i> Great visualization</h2>
        <p>Ekylibre bring lot of libraries to analyse data with contextual dashboard and cell system who could be customize</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
        <h2><i class="fa fa-database"></i> Complete model</h2>
        <p>Ekylibre provide strong database system based on Postgresql / Postgis with more than 300 models to store large amount of assorted data</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
        <h2><i class="fa fa-cog"></i> Secure data</h2>
        <p>Each instance of farm on Ekylibre is on his own tenant allow you to have maximum scope security for your data</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
        <h2><i class="fa fa-book"></i> Data references</h2>
        <p>Ekylibre brings nomenclatures system like Onoma and Lexicon to help normalizing data. Theses systems contains more than 20 Millions items references.</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
        <h2><i class="fa fa-code"></i> Customization</h2>
        <p>You can add field on each model to match your need. If it's not enought, plugins libraries allow you to customize code for your own needs.</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 feature-item">
        <h2><i class="fa fa-cloud-upload"></i> Integrations</h2>
        <p>Existing integrations allow bridging of third-party data into Ekylibre. Examples: RTK GPS data, Animal data, Weather data, Soil sensor and many others. </p>
    </div>
  </div>

  <div class="row top-hr">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col-md-12 trusted-by">Thanks to our contributors:</div>
      <div class="container">
          <div class="row logos">
            <a><img src="images/brice.jpeg"/></a>
            <a><img src="images/mlabous.png"/></a>
            <a><img src="images/achipault.png"/></a>
            <a><img src="images/ewanin.png"/></a>
            <a><img src="images/fauriol.png"/></a>
            <a><img src="images/guillaume.png"/></a>
            <a><img src="images/narnault.png"/></a>
            <a><img src="images/phaurigot.png"/></a>
            <a><img src="images/tgorioux.png"/></a>
            <a><img src="images/manon.png"/></a>
            <a><img src="images/michel.png"/></a>
            <a><img src="images/karine.jpeg"/></a>
            <a><img src="images/jeremy.jpeg"/></a>
            <a><img src="images/emma.jpg"/></a>
            <a><img src="images/nicolas.jpeg"/></a>
          </div>
        </div>
    </div>
  </div>

  <div class="row open-source">
    <div class="col-md-12">
      <h1><i class="fab fa-github"></i> Open Source</h1>
      <p>Ekylibre is 100% open source and community-driven. All components are available on <a href="https://github.com/ekylibre">GitHub</a>.</p>
      <iframe src="https://ghbtns.com/github-btn.html?user=ekylibre&repo=ekylibre&type=star&count=true&size=large" frameborder="0" scrolling="0" class="github-stars"></iframe>
      <br><br>
    </div>
  </div>

</div>
