<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="format-detection" content="telephone=no">
    <title><%= @item[:title] || 'Ekylibre : guide de démarrage rapide' %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/commun/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../../stylesheets/w3school.css">
    <link rel="stylesheet" href="../../stylesheets/quickstart.css">
    <link rel="stylesheet" href="../../stylesheets/ekylibre.css">
    <link rel="stylesheet" href="../../stylesheets/drawer.css">
	<link rel="stylesheet" href="../../stylesheets/fontawesome.css">
	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-58304754-1', 'auto');ga('send', 'pageview');</script>
	<!-- Start of ekylibrehelp Zendesk Widget script -->
	<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=8e03812d-d038-4a8c-8412-d85571f9fdbe"> </script>
	<!-- End of ekylibrehelp Zendesk Widget script -->
  </head>
  <body class="drawer drawer--top">
    <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
    <div class="conteneur">
      <div class="ekylibre affichage-print"><img src="../images/commun/ekylibre.svg" alt="Ekylibre" width="180px" class="logo-entete"></div>
      <header role="banner">
        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">Menu</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" role="navigation">
          <ul class="drawer-menu">
            <li><a class="drawer-menu-item" href="../demarrage">Accueil&nbsp;<i class="far fa-angle-right angle" aria-hidden="true"></i></a></li>
            <li><a class="drawer-menu-item" href="../chapitre1">Prérequis&nbsp;<i class="far fa-angle-right angle" aria-hidden="true"></i></a></li>
            <li><a class="drawer-menu-item" href="../chapitre2"><span data-descr="Inscription - Création de la ferme">Introduction</span>&nbsp;<i class="far fa-angle-right angle" aria-hidden="true"></i></a></li>
            <li><a class="drawer-menu-item" href="../chapitre3"><span data-descr="TelePAC">Parcellaire</span>&nbsp;<i class="far fa-angle-right angle" aria-hidden="true"></i><br></a></li>
            <li><a class="drawer-menu-item" href="../chapitre4"><span data-descr="Outils de dessin - Fichiers géographiques - Bâtiments">Exploitation</span>&nbsp;<i class="far fa-angle-right angle" aria-hidden="true"></i></a></li>
            <li><a class="drawer-menu-item" href="../chapitre5"><span data-descr="Espace de travail - Affichage - Navigation">L'interface</span>&nbsp;<i class="far fa-angle-right angle" aria-hidden="true"></i></a></li>
            <li><a class="drawer-menu-item" href="../chapitre6"><span data-descr="Banque - Achats - Ventes - Règlements">Comptabilité</span>&nbsp;<i class="far fa-angle-right angle" aria-hidden="true"></i></a></li>
			<li><a class="drawer-menu-item" href="../chapitre7"><span data-descr="Produits - Inventaires - Équipements - Tiers">Stock &amp; Personnel</span>&nbsp;<i class="far fa-angle-right angle" aria-hidden="true"></i></a></li>
            <li><a class="drawer-menu-item" href="../chapitre8"><span data-descr="Assolement - Interventions - Coûts">Production</span>&nbsp;<i class="far fa-angle-right angle" aria-hidden="true"></i></a></li>
            <li><a class="drawer-menu-item" href="../chapitre9"><span data-descr="Utilisateurs - Rôles d'utilisateur">Accès</span>&nbsp;<i class="far fa-angle-right angle" aria-hidden="true"></i></a></li>
          </ul>
        </nav>
      </header>
      <div class="fill-it"></div>
      <div class="affichage-large">
        <div class="TableauTitre center-div w3-top">
          <div class="divTableCellMenu w3-right w3-text-white" style="width:364px"><img src="../images/commun/brand.png" alt="Ekylibre" width="160px" class="logo-entete"></div>
        </div>
      </div>
      <div class="affichage-mobile">
        <div class="TableauTitre center-div w3-top">
          <div class="divTableCellMenu w3-right w3-text-white" style="width:200px"><img src="../images/commun/brand.png" alt="Ekylibre" width="160px" class="logo-entete"></div>
        </div>
      </div>
      <div class="affichage-print">
        <div class="TableauTitre center-div w3-top">
          <div class="divTableCellMenu w3-right w3-text-white" style="width:250px">GUIDE DE DÉMARRAGE RAPIDE</div>
        </div>
      </div>
    </div>
    <!-- !PAGE CONTENT! -->
    <%= yield %>
    <!-- !PAGE CONTENT! -->
    <script src="../../javascripts/jquery.js"></script>
    <script src="../../javascripts/iscroll.js"></script>
    <script src="../../javascripts/drawer.js"></script>
    <script src="../../javascripts/popup.js"></script>
	<script src="../../javascripts/breadcrumbs.js"></script>
    <script src="../../javascripts/backtotop.js"></script>
	<script src="../../javascripts/zoom-vanilla.js"></script>
    <script>
      $(document).ready(function() {
      $('.drawer').drawer();
      });
    </script>
	<script>
	  $(function() {
    /**
    * Smooth scrolling to page anchor on click
    **/
    $("a[href*='#']:not([href='#'])").click(function() {
        if (
            location.hostname == this.hostname
            && this.pathname.replace(/^\//,"") == location.pathname.replace(/^\//,"")
        ) {
            var anchor = $(this.hash);
            anchor = anchor.length ? anchor : $("[name=" + this.hash.slice(1) +"]");
            if ( anchor.length ) {
                $("html, body").animate( { scrollTop: anchor.offset().top }, 500);
            }
            }
        });
     });
	</script>
  </body>
</html>
