<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><%= @item[:title] || 'Ekylibre : guide de démarrage rapide' %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/commun/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../../stylesheets/w3school.css">
    <link rel="stylesheet" href="../../stylesheets/quickstart.css">
    <link rel="stylesheet" href="../../stylesheets/ekylibre.css">
    <link rel="stylesheet" href="../../stylesheets/drawer.css">
  </head>
  <body class="drawer drawer--top">
    <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
    <div class="conteneur">
      <div class="ekylibre affichage-print"><img src="../images/commun/ekylibre.svg" alt="Ekylibre" width="120px" class="logo-entete"></div>
      <header role="banner">
        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="sr-only">Menu</span>
          <span class="drawer-hamburger-icon"></span>
        </button>
        <nav class="drawer-nav" role="navigation">
          <ul class="drawer-menu">
            <li><a class="drawer-menu-item" href="../demarrage">Accueil</a></li>
            <li><a class="drawer-menu-item" href="../chapitre1">Prérequis</a></li>
            <li><a class="drawer-menu-item" href="../chapitre2">Introduction</a></li>
            <li><a class="drawer-menu-item" href="../chapitre3">Parcellaire</a></li>
            <li><a class="drawer-menu-item" href="../chapitre4">Exploitation</a></li>
            <li><a class="drawer-menu-item" href="../chapitre5">L'interface</a></li>
            <li><a class="drawer-menu-item" href="../chapitre6">Stock &amp; Personnel</a></li>
				    <li><a class="drawer-menu-item" href="../chapitre7">Comptabilité</a></li>
            <li><a class="drawer-menu-item" href="../chapitre8">Production</a></li>
            <li><a class="drawer-menu-item" href="../chapitre9">Accès</a></li>
          </ul>
        </nav>
      </header>
      <div class="fill-it"></div>
      <div class="affichage-large">
        <div class="TableauTitre center-div w3-top">
          <div class="divTableCellMenu w3-right w3-text-white" style="width: 364px">EKYLIBRE : GUIDE DE DÉMARRAGE RAPIDE</div>
        </div>
      </div>
      <div class="affichage-mobile">
        <div class="TableauTitre center-div w3-top">
          <div class="divTableCellMenu w3-right w3-text-white" style="width: 250px">EKYLIBRE : DÉMARRAGE RAPIDE</div>
        </div>
      </div>
      <div class="affichage-print">
        <div class="TableauTitre center-div w3-top">
          <div class="divTableCellMenu w3-right w3-text-white" style="width: 250px">GUIDE DE DÉMARRAGE RAPIDE</div>
        </div>
      </div>
    </div>
    <!-- !PAGE CONTENT! -->
    <%= yield %>
    <!-- !PAGE CONTENT! -->
    <script src="../../javascripts/jquery.js"></script>
    <script src="../../javascripts/iscroll.js"></script>
    <script src="../../javascripts/drawer.js"></script>
    <script src="../../javascripts/popup.js"></script>
    <script src="../../javascripts/backtotop.js"></script>
    <script>
      $(document).ready(function() {
      $('.drawer').drawer();
      });
    </script>      
  </body>
</html>
