<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An open-source monitoring system with a dimensional data model, flexible query language, efficient time series database and modern alerting approach.">
    <meta name="keywords" content="prometheus, monitoring, monitoring system, time series, time series database, alerting, metrics, telemetry">
    <meta name="author" content="Prometheus">
    <meta name="twitter:card" content="summary">
    <meta property="og:description" content="An open-source monitoring system with a dimensional data model, flexible query language, efficient time series database and modern alerting approach.">
    <meta property="og:image" content="https://prometheus.io/assets/favicons/android-chrome-192x192.png">

    <link rel="alternate" type="application/atom+xml" title="Prometheus Blog » Feed" href="/blog/feed.xml">

    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/favicons/android-chrome-manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <% if @item[:title] %>
    <meta property="og:title" content="<%= @item[:title] %> | Ekylibre">
    <title><%= @item[:title] %> | Ekylibre</title>
    <% else %>
    <meta property="og:title" content="Ekylibre - Farm management information system">
    <title>Ekylibre - Farm management information system</title>
    <% end %>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../stylesheets/docs.css" rel="stylesheet">
    <link href="../stylesheets/routing-tree-editor.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../stylesheets/fontawesome.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,300italic,400' rel='stylesheet' type='text/css'>
  </head>

  <body>

  <div class="<%= @item[:layout] == 'jumbotron' ? 'navbar-jumbotron' : '' %>">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right main-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/fr/demarrage">User Doc FR</a></li>
            <li><a href="https://ekylibre.stoplight.io/docs/eky/747a3d68e6ba3-ekylibre">API Doc</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="https://discord.gg/BSpD6hq7qR">Forum</a></li>
            <li><a href="https://demo-innovation.ekylibre.io">Demo</a></li>
            <li><a href="https://github.com/ekylibre"><i class="fab fa-github"></i></a></li>
            <li><a href="https://twitter.com/ekylibre"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://discord.gg/BSpD6hq7qR"><i class="fab fa-discord"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <%= yield %>
  <hr>
  <footer>
    <p class="pull-left">
      &copy; Ekylibre Authors 2014-<%= Date.today.year %> | Documentation Distributed under CC-BY-4.0
    </p>
    <p class="pull-left">
       &copy; <%= Date.today.year %> Ekylibre SAS. All rights reserved. Ekylibre SAS has registered trademarks and uses trademarks.
    </p>
  </footer>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../javascripts/jquery.js"</script>
  <script src="../javascripts/bootstrap.min.js"></script>
</body>
</html>
