@charset "UTF-8";

body {
	max-width: 768px;
	background-color: #ffffff;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}

html {
	background-color: #dddddd;
}

#conteneur {
    display: flex;
    flex-wrap: nowrap;
}

.centre {
    text-align: center;
}

a.slice-long {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

a.slice-short {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/* BackToTop button css */
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:30px;
    height:30px;
    background-color:#666;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-13px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#scroll:hover {
    background-color:#333;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.aerateur-annexe {
	margin-top: 100px;
}

.interface {
	font-style: normal;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-size:21px;
	font-weight:normal;
}

.procedure {
	font-size:19px;
	font-weight:normal;
}

a {
  text-decoration: none;
  color: #476ba8;
}

a:hover, a:active {
  text-decoration: underline;
  color: #476ba8;
}

a:link, a:visited {
  text-decoration: none;
  color: #476ba8;
}

.note {
	margin-right: 4px;
}

.browser {
	margin-left: 10px;
	margin-right: 4px;
	width: 15px;
}

.bouton {
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: -8px;
}

.btn-creer {
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: -5px;
}

.chat-help {
	margin-right: 5px;
	margin-left: 5px;
}

.icone-marge-droite {
	margin-right: 4px;
}

.icone-marge-gauche {
	margin-left: 4px;
}

.icone-download {
	margin-right: 4px;
	margin-left: 4px;
	width: 15px;
}

.align-icone {
	vertical-align: -2px;
}

.align-outil {
	width: 30px;
    vertical-align: -7px;
    margin-left: 4px;
    margin-right: 4px;
}

.contour-img {
	border: 1px solid #cccccc;
}

.max-img-inline {
	max-width: 646px;
}

.max-img-process {
	max-width: 584px;
}

.chapitre {
	margin-top: 65px;
}

.gris {
	padding: 20px 60px;
	max-width: 100%;
	background-color: #eeeeee;
}

.config {
	background-color: #83e054;
	text-align: center;
	padding: 5px;
	color: #000;
}

.tableaux {
	background-color: #f7e889;
	text-align: center;
	padding: 5px;
	color: #000;
}

.contour-vert {
	border: 1px solid #83e054;
}

.contour-gris {
	border: 1px solid #cccccc;
}

.tabulation {
	margin-left: 10px;
}

.margin-config {
	margin: 20px 0;
}
	
.majuscule {
	text-transform: uppercase;
}

.rappel-sommaire {
	color: #999999;
}
	
.titre-advice {
	font-style: normal;
	font-weight: bold;
	font-size: 120%;
}

.texte-advice {
	margin-top: 5px;
	margin-bottom: -1px;
}
	
.info-idee {
	overflow: hidden;
}

.after-box {
    clear: left;
}

.texte-tableau1 {
	font-size:16px;
}

.texte-tableau2 {
	font-size:14px;
	font-weight: bold;
}

.divTable{
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

/*Tableau Chapitre 8 Roles*/

.divTableCellRole1, .divTableHeadRole1 {
	/*height: 40px;*/
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #dddddd;
	font-size: 12px;
	line-height: 1.2;
}

.divTableCellRole2, .divTableHeadRole2 {
	/*height: 40px;*/
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 3px 5px;
	text-align:center;
	vertical-align: middle;
	background-color: #eeeeee;
}

.divTableCellRole3, .divTableHeadRole3 {
	/*height: 40px;*/
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 5px;
	text-align:center;
	vertical-align: middle;
	background-color: #dddddd;
	font-size: 12px;
	line-height: 1.2;
}

.divTableCellRole2 img{
	padding-bottom: 1px;
	margin-top: 1px;
}

.divTableFooter {
	padding-bottom: 3px;
}

/*Tableau layers*/

.divTableCellLayers, .divTableHeadLayers {
	display: table-cell;
	padding: 5px 0 5px 0;
	text-align: left;
	vertical-align: top;
}

/*Tableau outils de dessin*/

.divTableCellOutils, .divTableHeadOutils {
	display: table-cell;
	padding: 5px 0 5px 0;
	text-align: left;
	vertical-align: middle;
}

.divTableOutils {
	display: table;
}

/* Tableau chapitre 8 Liste des droits*/

.divTableCellDroits1, .divTableHeadDroits1 {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	padding: 10px 0;
}

.divTableCellDroits2, .divTableHeadDroits2 {
	display: table-cell;
	text-align:left;
	vertical-align: middle;
	padding: 10px 0;
	padding-left: 10px;
}

/* Tableau chapitre 5 Menus et panneaux*/

.divTableCellInter, .divTableHeadInter {
	display: table-cell;
	text-align:left;
	vertical-align: middle;
}

/* Tableau sommaire accueil*/

.divTableCell0, .divTableHead0 {
	display: table-cell;
	text-align:left;
	vertical-align: middle;
}

/*Tableau listes diverses*/

.divTableCellListe, .divTableHeadListe {
	display: table-cell;
	padding: 5px 0 5px 0;
	text-align: left;
	vertical-align: top;
}

.divTableListe {
	display: table;
}

.culture {
	padding-bottom: 10px;
}

/*Tableau Activités*/

.divTableActivites {
	display: table;
}

.divTableCellActivites1, .divTableHeadActivites1 {
	display: table-cell;
	padding: 10px 10px;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	background-color: #dddddd;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #ffffff;
}

.divTableCellActivites2, .divTableHeadActivites2 {
	display: table-cell;
	padding: 10px 10px;
	text-align: left;
	vertical-align: top;
	background-color: #eeeeee;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
}

/*Tableau Glossaire*/

.divTableGlossaire {
	display: table;
}

.divTableCellGlossaire1, .divTableHeadGlossaire1 {
	display: table-cell;
	padding: 10px 10px;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	background-color: #dddddd;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #ffffff;
}

.divTableCellGlossaire2, .divTableHeadGlossaire2 {
	display: table-cell;
	padding: 10px 10px;
	text-align: left;
	vertical-align: top;
	background-color: #eeeeee;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
}

/*Tableau sans contour et sans couleur de cellule*/

.divTableCell3, .divTableHead3 {
	display: table-cell;
	padding: 3px 10px;
	text-align: center;
	vertical-align: middle;
	height: 40px;
}

/*Tableau Chapitre 2 Tâches visées*/

.divTableCell, .divTableHead {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 10px 0;
	text-align:center;
	vertical-align: middle;
	background-color: #dddddd;
}

.divTableCell1, .divTableHead1 {
	height: 40px;
	border-top-width: 0;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 3px 0;
	text-align:center;
	vertical-align: middle;
	background-color: #ffffff;
}

.divTableCell2, .divTableHead2 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 10px 5px 15px;
	text-align:center;
	vertical-align: middle;
	background-color: #eeeeee;
}

.divTableCell21, .divTableHead21 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 0 0 0 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #eeeeee;
}

/*Tableau Chapitre 2 Informations à collecter*/

.divTableCell4, .divTableHead4 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #eeeeee;
}

.divTableCell5, .divTableHead5 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #dddddd;
}

/*Tableau Chapitre 3 Tableau de correspondances*/

.divTableCell32, .divTableHead32 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #dddddd;
	text-transform: uppercase;
}

.divTableCell37, .divTableHead37 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #dddddd;
	text-transform: uppercase;
}

.divTableCell31, .divTableHead31 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #eeeeee;
}

.divTableCell38, .divTableHead38 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 0 10px 0 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #eeeeee;
}


.divTableCell36, .divTableHead36 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 10px 10px 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #eeeeee;
}

.divTableCell39, .divTableHead39 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 0 10px 0 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #eeeeee;
}

.divTableCell35, .divTableHead35 {
	/*height: 40px;*/
	border-top-width: 0;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 0 10px 15px 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #eeeeee;
}

.divTableCell40, .divTableHead40 {
	/*height: 40px;*/
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 0 10px 10px 10px;
	text-align:center;
	vertical-align: middle;
	background-color: #eeeeee;
}

/*Tableau Chapitre 3 Tableau des manières de créer les zones cultivables*/

.divTableCell33, .divTableHead33 {
	height: auto;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 0;
	text-align:center;
	background-color: #ddd;
}

.divTableCell34, .divTableHead34 {
	height: auto;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 0 10px;
	text-align:left;
	background-color: #eee;
}

/*Tableau Chapitre 4 Tableau des bâtiments/espaces de stockage*/

.divTableCellBat1, .divTableHeadBat1 {
	height: auto;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 0;
	text-align:center;
	background-color: #eee;
}

.divTableCellBat2, .divTableHeadBat2 {
	height: auto;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 0 10px;
	text-align:left;
	vertical-align: top;
	background-color: #eee;
}

/*Tableau Chapitre 2 Parcours de configuration*/

.divTableCell6, .divTableHead6 {
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
}

.divTableCell7, .divTableHead7 {
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 2px 10px 6px;
	text-align: left;
	vertical-align: middle;
	background-color: #fff;
}

.divTableCell8, .divTableHead8 {
	height: 40px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 0;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-right-width: 0;
	border-right-style: solid;
	border-right-color: #ffffff;
	display: table-cell;
	padding: 5px 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

.url-bleue {
	text-align: center;
	color: #476ba8;
	border: 1px solid #476ba8;
	padding: 16px;
	font-weight: bold;
	font-size: 16px;
	margin: 10px auto;
	border-radius: 4px;
	background-color: #cbe1f3;
	max-width: 646px;	
}

.bleu-ekylibre {
	color: #476ba8;
}

.aligne {
	vertical-align: middle;
}

/* Titre haut de page */
.divTableTitre{
	display: table;
	width: 100%;
}

.divTableRowTitre {
	display: table-row;
}

.divTableCellTitre, .divTableHeadTitre {
	display: table-cell;
	text-align: right;
	margin-right: 20px;
	white-space: nowrap;
}

/* Navigation pied de page */
.navigation {
	width: 100%;
	padding: 6px 0 5px 0;
	background-color: #333;
}

.navigation a{
	color: #fff;
}

.divTableCellLeft, .divTableHeadLeft {
	display:none;
}

.divTableCellRight, .divTableHeadRight {
	display:none;
}

.divTableCellCenter, .divTableHeadCenter {
	height: 40px;
	display: table-cell;
	padding: 8px 10px 5px 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #333;
}

@media only screen and (min-width: 481px) {

.divTableCellLeft, .divTableHeadLeft {
	white-space: nowrap;
	height: 40px;
	display: table-cell;
	padding: 5px 10px;
	text-align: left;
	vertical-align: middle;
	background-color: #333;
}

.divTableCellRight, .divTableHeadRight {
	white-space: nowrap;
	height: 40px;
	display: table-cell;
	padding: 5px 10px;
	text-align: right;
	vertical-align: middle;
	background-color: #333;
}

.divTableCellCenter, .divTableHeadCenter {
	height: 40px;
	display: table-cell;
	padding: 8px 5px 5px 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #333;
}
}

@media only screen and (min-width: 769px) {

.divTableCellLeft, .divTableHeadLeft {
	white-space: nowrap;
	height: 40px;
	display: table-cell;
	padding: 5px 10px;
	text-align: left;
	vertical-align: middle;
	background-color: #333;
}

.divTableCellRight, .divTableHeadRight {
	white-space: nowrap;
	height: 40px;
	display: table-cell;
	padding: 5px 10px;
	text-align: right;
	vertical-align: middle;
	background-color: #333;
}

.divTableCellCenter, .divTableHeadCenter {
	height: 40px;
	display: table-cell;
	padding: 8px 5px 5px 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #333;
}
}

@media print {

.navigation {
	visibility:hidden;
}
}